//-
	ToDo:
	- work out inter-project navigation
	- configure the slider feature (see offsite.html)





extends ./_layout

block theContent


	// =============== wrapper =============== 
	#wrapper
		// =============== Content holder  ===============
		.content-holder.elem.scale-bg2.transition3
			// .fixed-title
			.fixed-title
				span= entry.navBarLabel

			// =============== Content  ===============
			.content
				// Page title section
				section.parallax-section
					.overlay
					.bg(style="background-image:url(#{asset(entry.backgroundImage, { q: 50})})" data-top-bottom="transform: translateY(200px);" data-bottom-top="transform: translateY(-200px);")
					.container
						h2= entry.clientName
						.separator-image
							img(src="../img/separator.png" alt="")
						h3.subtitle= entry.tagLine
					a.custom-scroll-link.sect-scroll(href="#sec1")
						i.fa.fa-angle-double-down
				// Page title section end
				// Content
				.sections-bg
				section#sec1
					.container.column-container
						.row
							// project images
							.col-md-7
								.vertical-gallery.popup-gallery
									- for image in entry.images
										.box-item
											a(href= asset(image, { q: 50}))
												img.respimg(src= asset(image, { q: 50}))

								//- This logic handles the inter-project navigation
								- var featArr = []
								- for project in contentful.featuredProjects
									- featArr.push(project._url)

								//- set curUrl
								- var curUrl = entry._url
								
								//- fetch prevUrl
								- var prevUrl = (featArr.indexOf(curUrl) === 0) ? featArr[featArr.length-1] : featArr[featArr.indexOf(curUrl) - 1];

								//- fetch nextUrl
								- var nextUrl = (featArr.indexOf(curUrl) < featArr.length - 1) ? featArr[featArr.indexOf(curUrl) + 1] : featArr[0];

								//- log results
									- console.log('featArr is:\n',featArr)
									- console.log('Previous url is: ', prevUrl)
									- console.log('Current url is: ', curUrl)
									- console.log('Next url is: ', nextUrl)
													
								.project-box
									.content-nav
										ul
											li
												//-a(href="feast.html")
												a(href="#{prevUrl}")
													i.fa.fa-long-arrow-left
											li
												span &#47;
											li
												//-a(href="juisi.html")
												a(href="#{nextUrl}")
													i.fa.fa-long-arrow-right
										.p-all
											a(href="index.html")
												i.fa.fa-th-large
							// project images end
							// project  information
							.col-md-5
								.fix-box
									.project-box
										h3 Details
										//-p= entry.description
										!= marked(entry.description)
										if entry.cilentUrl && entry.clientUrlLabel
											p View site: 
												a(href= entry.cilentUrl target='_blank')= entry.clientUrlLabel
				// Content end
				// Share container
				.share-container.isShare(data-share="['facebook','pinterest','googleplus','twitter','linkedin']")
			// content holder end
		// wrapper end
		.left-decor
		.right-decor













		